<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New chocolate</title>

<body>
<link th:href="@{css/style.css}" enctype="multipart/form-data" rel="stylesheet"/>
<form th:method="POST" th:action="@{/candy}" th:object="${newCandy}" enctype="multipart/form-data">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="description">Enter description: </label>
    <input type="text" th:field="*{description}" id="description"/>
    <br/>
    <label for="price">Enter price: </label>
    <input type="number" th:field="*{price}" id="price"/>
    <br/>
    <input type="file" name="file">
    <br/>
    <input type="submit" value="Create!"/>
</form>
</body>
</html>