<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:columns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- chocolateList - это название коллекции по которому проходится цикл; person - временная переменная( что-то вроде i)-->
<div th:each="I : ${chocolateList}">
    <!-- вместо chocolate вставятся данные из коллекции -->


    <div class="card">
        <div class="container" >
            <a th:href="@{chocolate/{id}(id=${I.getId()})}" th:text="${I.getName()}">Name</a>
            <br/>
            <a th:href="@{chocolate/{id}(id=${I.getId()})}" th:text="${I.getPrice()}">Price</a>
            <br/>
            <img alt="" th:src="*{'data:image/jpeg;base64,'+{I.image}}" height="60px"/>
        </div>
    </div>



</div>
<br/>
<hr/>
<a th:href="@{/candy/add-candy}">Create new Chocolate</a>
</body>
</html>