<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:tr="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bucket</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div th:insert="~{menu.html :: nav-menu}"></div>
<h2>Your bucket</h2>
<h2>All sum -> <b th:text="${bucket.sum}">1000</b></h2>
<div class="container text-center">
    <div><h1>Your bucket</h1></div>
    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Title</th>
                <th>Amount</th>
                <th>Price</th>
                <th>Sum</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr:block>
                <tr th:each="I : ${bucket.bucketDetails}">
                    <td th:text="${I.title}"></td>
                    <td th:text="${I.amount}"></td>
                    <td th:text="${I.price}"></td>
                    <td th:text="${I.sum}"></td>
                    <td>Remove</td>
                </tr>
            </tr:block>
            </tbody>
        </table>
    </div>
</div>
<form th:action="@{/bucket}" method="post">
    <button type="submit">Create Order</button>
</form>

</body>
</html>